.card{
  position: relative;
  width: 320px;
  margin: 10px;
  .author{
    position: relative;
    left: 30px;
    margin: 0 0 10px 0;
  }
  .card-title{
    color: rgb(56, 83, 218);
  }
}
.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}


